.container-load-more{
    align-items: center;
    justify-content: space-around;
    width: 100vh;
    height: 100vh;


}

.product-container{
    
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product{
    padding: 20px;
    border: 1px solid;
    flex-direction: column;
    gap:10px;

}

.product img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

button
{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}